# yaml-language-server: $schema=https://promptfoo.dev/config-schema.json
description: 'Sistema de Gestión de Motocicletas - Evaluación de Prompts'

env:
  GOOGLE_API_KEY: AIzaSyAcEYuvZb_91wEO_ODntR5JiXSiGzmQfaw

prompts:
  - Cual equipo portatil me debo comprar para programación si mi presupuesto es de {{presupuesto}} y me interesaria poder {{deseo}}?

providers:
  - google:gemini-2.5-flash-tts

tests:
  # Tests para Registro
  - vars:
      presupuesto: '1000 USD'
    assert:
      - type: completion
        value: 'portatil'
  - vars:
      deseo: 'jugar videojuegos'
    assert:
      - type: completion
        value: 'tarjeta grafica alta gama'